//import variables and mixins
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

//import base
@import "./base/typography";

//import external libs
@import "./reset/normalize";

//import style
@import "./layout/footer";

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$background-color: hsl(0, 1%, 91%);
$dark-background-color: hsl(0, 1%, 75%);
$light-background-color: #f6f6f6;
$font-family: "Roboto", sans-serif;
$font-color: black;
$breakpoints-tablet: 600px;
$breakpoints-desktop: 1025px;

@mixin center {
  display: flex;
  justify-content: center;
}

@mixin bkg_hover($color-primary) {
  background-color: lighten($color-primary, 35%);
}

@mixin shadow {
  box-shadow: 0 5px 5px $background-color;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  font-size: 50px;
  color: $color-primary;
  text-shadow: 6px 2px 4px $color-secondary;
  z-index: 20;
  animation-name: loading;
  animation: loading 2s linear;
  animation-timing-function: ease;
  visibility: hidden;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-animation: loading 2s linear;
}

.fa-pulse {
  margin: auto;
  color: $color-primary;
  text-shadow: 2px 2px 4px $color-secondary;
}

@keyframes loading {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

h1 {
  @include center;
  font-family: Shrikhand;
  font-size: 26px;
  color: $font-color;
  @media (min-width: $breakpoints-tablet) {
    font-size: 30px;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: 35px;
  }
}

h2 {
  font-size: 24px;
  color: $font-color;
  font-weight: bolder;
  text-align: center;
  margin-top: 0;
  padding: 2rem 3.5rem 0 3.5rem;
  @media (min-width: $breakpoints-tablet) {
    font-size: 28px;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: 32px;
  }
}

h3 {
  font-size: 21px;
  margin-left: 25px;
  padding-top: 25px;
  color: $font-color;
  font-weight: bolder;
  @media screen and (min-width: $breakpoints-tablet) {
    font-size: 25px;
    text-align: center;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: 28px;
  }
}

h4 {
  font-size: 17px;
  font-weight: bolder;
  margin: 0;
  @media (min-width: $breakpoints-tablet) {
    font-size: 20px;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: 26px;
  }
}

p {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
  @media (min-width: $breakpoints-tablet) {
    font-size: 19px;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: 24px;
  }
}

a {
  color: #000;
}

.location form {
  @include center;
  margin-top: 10px;
  padding: 10px 0;
  background-color: $background-color;
  box-shadow: inset 0 2px 0 lightgray;
  i {
    padding: 0 15px 0;
    @media (min-width: $breakpoints-tablet) {
      font-size: x-large;
    }
    @media (min-width: $breakpoints-desktop) {
      font-size: xx-large;
    }
  }
}

input {
  font: $font-color;
  font-size: 15px;
  border-color: transparent;
  background-color: $background-color;
  @media (min-width: $breakpoints-tablet) {
    font-size: x-large;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: xx-large;
  }
}

.showcase {
  background-color: $light-background-color;
  padding: 0 20px 30px 20px;
}

.showcase p {
  text-align: center;
}

.explore-btn {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 20px 0 20px 0;
  margin: 25px 55px 0 55px;
  cursor: pointer;
  border-radius: 200px;
  border-style: none;
  @include shadow;
  background: linear-gradient(340deg, $color-primary, $color-secondary);
  @media (min-width: $breakpoints-tablet) {
    font-size: x-large;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: xx-large;
  }
}

.explore-btn:hover {
  box-shadow: 9px 10px 9px $dark-background-color;
  background: linear-gradient(340deg, hsl(267deg, 66%, 75%), $color-secondary);
}

.how_to {
  @include center;
  flex-direction: column;
  padding: 0 5%;
  @media (min-width: $breakpoints-tablet) {
    font-size: x-large;
    padding: 0 10%;
  }
  @media (min-width: $breakpoints-desktop) {
    font-size: xx-large;
  }
}

.how_to ul {
  padding: 0;
  margin-top: 0;
}

.how_to li {
  padding: 25px 0 25px 25px;
  margin: 0 0 25px 10px;
  background-color: $light-background-color;
  font: color #000;
  @include shadow;
  &:hover {
    box-shadow: 9px 10px 9px $dark-background-color;
    @include bkg_hover($color-primary);
  }

  &:hover i {
    color: $color-primary;
  }
  border-radius: 22px;
}

.how_to span {
  padding: 2px 6px;
  margin-left: -35px;
  position: absolute;
  background-color: $color-primary;
  border-radius: 50%;
  color: #f6f6f6;
}

.how_to i {
  margin-right: 25px;
  color: hsl(0, 1%, 50%);
}

#restaurants {
  background-color: $light-background-color;
}

.restaurants_list {
  padding: 0 20px 20px 20px;
  @media screen and (min-width: $breakpoints-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 35px 0 35px;
  }
  @media (min-width: $breakpoints-desktop) {
    height: 300px;
  }
}

.restaurant_card {
  background-color: #fff;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  @include shadow;
  transition: 0.4s;
  border-radius: 15px;
  @media screen and (min-width: $breakpoints-tablet) {
    width: 45%;
  }
}

.text_card {
  padding: 10px;
}

.restaurants span {
  background-color: $color-tertiary;
  color: #0c755b;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px;
}

.restaurants img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.btn_like {
  font-size: 20px;
  position: absolute;
  top: 150px;
  right: 12px;
  margin-left: auto;
  padding: 20px;
}

.btn_like:hover .fas {
  transform: scale(1);
  transition: transform 0.4s;
}

.btn_like .fas {
  position: absolute;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg, $color-primary, $color-secondary);
  transform: scale(0);
  transition: transform 0.4s;
  z-index: 2;
}
.btn_like .far {
  opacity: 1;
}

footer {
  background-color: #000;
  padding: 20px 8%;

  @media screen and (min-width: $breakpoints-tablet) {
    text-align: center;
  }
  @media screen and (min-width: $breakpoints-desktop) {
    padding: 20px;
  }
}
footer h4 {
  font-family: "Shrikhand";
  color: #fff;
}

footer ul {
  padding-left: 0;
}
footer li {
  padding: 2px 0;
}

footer i {
  margin-right: 15px;
  font-size: 9px;
  color: #fff;

  @media screen and (min-width: $breakpoints-tablet) {
    font-size: large;
  }
}
footer a {
  font-size: 14px;
  color: #fff;

  @media screen and (min-width: $breakpoints-tablet) {
    font-size: large;
  }
}

/*menu_restaurant */
.menu_restaurant h1 {
  text-align: center;
}

.menu_restaurant i {
  font-size: 20px;
  position: absolute;
  top: 25px;
  left: 20px;
  @media screen and (min-width: $breakpoints-tablet) {
    font-size: x-large;
    }
}

.restaurant {
  padding-top: 80px;
  background-image: url("../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media screen and (min-width: $breakpoints-tablet) {
    background-size: 100%;
    padding-top: 200px;
  }
  @media screen and (min-width: $breakpoints-desktop) {
    padding-top: 400px;  
}
}

@keyframes menu-load {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 20px;
    opacity: 1;
  }
}

.menu_title {
  padding-top: 100px;
}
.menu_title h2 {
  font-family: Shrikhand;
  background-color: $light-background-color;
  padding: 20px;
  margin-bottom: 0;
  border-radius: 30px 30px 0 0;
  @media screen and (min-width: $breakpoints-tablet) {
    display: flex;
    justify-content: center;

  background-color: #FFF;
    }
}

.menu_title .btn_like {
  margin-top: 100px;
  @media screen and (min-width: $breakpoints-tablet) {
    margin-top: 28%;
    margin-right: 10%;
    font-size: x-large;
}
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    
}

.menu h3 {
  width: 35px;
  margin: 15px 0 0 0;
  padding: 0 0 5px 0;
  font-weight: 100;
 
}

.menu h3::after {
  content: "";
  color: $color-tertiary;
  border-bottom: 3px solid;
  width: 50px;
  margin-top: 5px;
  position: absolute;
  @media screen and (min-width: $breakpoints-tablet) {
    width: 8%;
    margin-left: 0;
    }
}
.starters,
.main_course,
.deserts {
  padding: 10px 20px;
  @media screen and (min-width: $breakpoints-tablet) { 
margin: 0 15% 0 15%;
padding:2%;
}
}
.infos {
  display: flex;
  align-items: center;
  padding-left: 15px;

  height: 70px;
  border-radius: 16px;
  overflow: hidden;
  animation: menu-load 1s both;
  animation-delay: 2s;
  background: #fff;
  @include shadow;
  @media screen and (min-width: $breakpoints-tablet) {
    padding: 50px 0 50px 20px;
    box-shadow: 0 15px 15px $dark-background-color;
    }
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description h4 {
  margin: 0;
  padding: 6px 6px 6px 0;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description p {
  margin: 0;
  padding: 6px 6px 6px 0;
  text-align: start;
  font-weight: 100;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.price {
  margin: 32px 0 0 auto;
  padding-right: 15px;
  font-weight: bolder;
}

.check {
  background-color: #99e2d0;
  height: 80px;
  width: 60px;
  display: flex;
  justify-content: center;
  margin-right: -60px;
  border-radius: 0 15px 15px 0;
  transition: all 0.5s;
  @media screen and (min-width: $breakpoints-tablet) {
      height: 150px;
  }
}

.check i {
  color: #ffffff;
  font-size: x-large;
  margin-top: 28px;
  @media screen and (min-width: $breakpoints-tablet) {
    margin-top: 60px;
}
}
.infos:hover .check {
  margin: 0;
}

.infos:hover .check i {
  transform: rotate(360deg);
  transition-duration: 0.6s;
}

.menu .explore-btn {
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoints-tablet) {
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
}
}